<% provide(:title, 'Edit user') %>
<h1>Edit user</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render "form" %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
    <br/><br/>
    <center>
      <span class="btn btn-default"> <%= link_to 'Volver', users_path %> </span>     
	</center>
  </div>
</div>
